<p style="color: green"><%= notice %></p>

<h1>Invoices</h1>

<%= link_to "New invoice", new_invoice_path %>

<div id="invoices">
  <% @invoices.order(created_at: :desc).each do |invoice| %>
    <p>
    <%= render invoice %>
    <%= link_to "Show this invoice", invoice %>
    </p>
  <% end %>
</div>
